body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0px;
    color: #333;
    background-image: url('../Images/grey-gradient-background2.jpg');
}


h2 {
    color: #4a4e69;
}

main {
    max-width:fit-content;
    margin: auto;
    padding: 20px;
    background-color: #f3f9ef;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width:5%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #22223b;
    color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

button {
    
    background-color: #afb4d4;
    color: #1a4b60;
    border: none;
    border-radius: 4px;
    padding:10px;
    cursor:pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4c77c2;
}

a {
    text-decoration: none;
    color: #4a4e69;
}

a:hover {
    text-decoration: underline;
}
